<h5>Goods services</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="goodsServices">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>name</th>
      <th>G/S Number</th>
      <th>No. of units</th>
      <th>Packet input price</th>
      <th>Packet output price</th>
      <th>Unit</th>
      <th>Vat percents</th>
      <th>G/S type</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let goodsServicesOne of goodsServices">
      <td>{{goodsServicesOne.name}}</td>
      <td>{{goodsServicesOne.goodsServicesNumber}}</td>
      <td>{{goodsServicesOne.numberOfUnitsInPacket}}</td>
      <td>{{goodsServicesOne.packetInputPrice}}</td>
      <td>{{goodsServicesOne.packetOutputPrice}}</td>
      <td>{{goodsServicesOne.unit}}</td>
      <td>{{goodsServicesOne.vatPercents}}</td>
      <td>{{goodsServicesOne.gsType}}</td>
      <td><button class="btn btn-primary" (click)="editGoodsServices(goodsServicesOne)">Edit</button></td>
      <td><button class="btn btn-primary" (click)="deleteGoodsServices(goodsServicesOne)">Del</button></td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
  <div>
    <button class="btn btn-primary" (click)="createGoodsServices()">Create goods/service</button>
  </div>
</div>


