.paging {
  display: flex;
  height: 33px;
  width: 80%;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
  color: #BEBCBC;
  background-color: white;
  margin: 10px auto;
}

.paging span {
  cursor: pointer;
}
