<h5>Input invoices after pay date</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="outputInvoicesNotPaid">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Document number</th>
      <th>Pay date</th>
      <th>Payment type</th>
      <th>Crm partner</th>
      <th>Accounting Date</th>
      <th>Total</th>
      <th>VAT total</th>
      <th>Transport type</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inputInvoiceNotPaid of outputInvoicesNotPaid" (click)="selectOutputInvoiceNotPaid(inputInvoiceNotPaid)" [ngClass]="{'selected-row': (selectedOutputInvoiceNotPaid && selectedOutputInvoiceNotPaid.id === inputInvoiceNotPaid.id)}">
      <td>{{inputInvoiceNotPaid.variableSymbol}}</td>
      <td>{{inputInvoiceNotPaid.payDate}}</td>
      <td>{{inputInvoiceNotPaid.paymentType}}</td>
      <td>{{inputInvoiceNotPaid.crmName}}</td>
      <td>{{inputInvoiceNotPaid.issueDate}}</td>
      <td>{{inputInvoiceNotPaid.total}}</td>
      <td>{{inputInvoiceNotPaid.totalTax}}</td>
      <td>{{inputInvoiceNotPaid.transportType}}</td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
</div>
<div style="margin-top: 15px" *ngIf="selectedOutputInvoiceNotPaid && selectedOutputInvoiceNotPaid.warehouseGoodsServicesDtos">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Goods/Service name</th>
      <th>Number of units</th>
      <th>Amount</th>
      <th>Amount VAT</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let warehouseGoodsServicesDto of selectedOutputInvoiceNotPaid.warehouseGoodsServicesDtos">
      <td>{{warehouseGoodsServicesDto.goodsServicesName}}</td>
      <td>{{warehouseGoodsServicesDto.numberOfUnits}}</td>
      <td>{{warehouseGoodsServicesDto.amountTotal}}</td>
      <td>{{warehouseGoodsServicesDto.vatTotal}}</td>
    </tr>
    </tbody>
  </table>
</div>

