<div style="width: 70%; margin: 0px auto">
  <h4>Checkout page - {{company}}</h4>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/login" routerLinkActive="active">Main menu</a></li>
    </ul>
  </nav>
  <form [formGroup]="ordersForm">
    <div class="form-group">
      <label for="documentNumber">Invoice number (variable symbol):</label>
      <input disabled type="text" formControlName="documentNumber" class="form-control" id="documentNumber">
    </div>
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Enter name" id="name">
    </div>
    <div class="form-group">
      <label for="ico">ICO:</label>
      <input type="text" formControlName="ico" class="form-control" placeholder="Enter ico" id="ico">
    </div>
    <div class="form-group">
      <label for="dic">DIC:</label>
      <input type="text" formControlName="dic" class="form-control" placeholder="Enter dic" id="dic">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="phone" formControlName="phone" class="form-control" placeholder="Enter phone" id="phone">
    </div>
    <div class="form-group">
      <label for="phone">Delivery address Street:</label>
      <input type="text" formControlName="street" class="form-control" placeholder="Enter street" id="street">
    </div>
    <div class="form-group">
      <label for="phone">Delivery address Description Number:</label>
      <input type="text" formControlName="descNumber" class="form-control" placeholder="Enter desc. number" id="descNumber">
    </div>
    <div class="form-group">
      <label for="phone">Delivery address City:</label>
      <input type="text" formControlName="city" class="form-control" placeholder="Enter city" id="city">
    </div>
    <div class="form-group">
      <label for="phone">Delivery address Zip Code:</label>
      <input type="text" formControlName="zipCode" class="form-control" placeholder="Enter zipCode" id="zipCode">
    </div>
    <div class="form-group">
      <label for="paymentType">Payment type:</label>
      <select formControlName="paymentType" class="form-control" placeholder="Enter payment type" id="paymentType" (change)="changePaymentType($event)">
        <option *ngFor="let paymentType of paymentTypes" [ngValue]="paymentType">{{paymentType}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="deliveryType">Delivery type:</label>
      <select formControlName="deliveryType" class="form-control" placeholder="Enter delivery type" id="deliveryType" (change)="changeDeliveryType($event)">
        <option *ngFor="let deliveryType of deliveryTypes" [ngValue]="deliveryType">{{deliveryType}}</option>
      </select>
    </div>
  </form>

  <div class="form-group">
    <div *ngIf="orders && orders.length > 0" id="rows" style="margin-top: 10px; margin-bottom: 5px">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Goods/Service</th>
          <th>Goods/service number</th>
          <th>Warehouse</th>
          <th>Count</th>
          <th>Unit output Price</th>
          <th>Vat Percent</th>
          <th>Vat</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let order of orders">
          <td>{{order.eshopGoodsService.name}}</td>
          <td>{{order.eshopGoodsService.goodsServiceNumber}}</td>
          <td>{{order.item.whName}}</td>
          <td>{{order.item.orderedCount}}</td>
          <td>{{order.item.unitOutputPrice}}</td>
          <td>{{order.item.vatPercent}}</td>
          <td>{{calcRowVat(order)}}</td>
          <td>{{calcRowPriceWithVat(order)}}</td>
        </tr>
        </tbody>
        <tfoot style="font-weight: bold">
        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>{{calcTotalVat()}}</td>
          <td>{{calcTotalTotal()}}</td>
        </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <button (click)="confirm()" class="btn btn-primary">Confirm</button>
  <p *ngIf="bankAccount && oINumber" style="margin-top: 15px; font-weight: bold; font-size: large">Payment, please, make to our bank account {{bankAccount}} and as variable  symbol or comment input, please, invoice number {{oINumber}} for identification.</p>
</div>
