<h5>Warehouses</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="warehouses">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Wh. number</th>
      <th>Name</th>
      <th>Street</th>
      <th>Desc Number</th>
      <th>City</th>
      <th>zipCode</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let warehouse of warehouses">
      <td>wh-{{warehouse.analyticAccount}}</td>
      <td>{{warehouse.name}}</td>
      <td>{{warehouse.address?.street}}</td>
      <td>{{warehouse.address?.descNumber}}</td>
      <td>{{warehouse.address?.city}}</td>
      <td>{{warehouse.address?.zipCode}}</td>
      <td><button class="btn btn-primary" (click)="show(warehouse)">Show</button></td>
      <td><button class="btn btn-primary" (click)="editWarehouse(warehouse)">Edit</button></td>
      <td><button class="btn btn-primary" (click)="deleteWarehouse(warehouse)">Del</button></td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
  <div>
    <button class="btn btn-primary" (click)="createWarehouse()">Create warehouse</button>
  </div>
</div>

