<div class="container_form">
  <h3>Employee create form</h3>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
    </ul>
  </nav>
  <form [formGroup]="editEmployeeForm" (ngSubmit)="submitEmployeeForm()">
    <div class="form-group">
      <label for="firstname">First name:</label>
      <input type="text" formControlName="firstname" class="form-control" placeholder="Enter first name" id="firstname">
    </div>
    <div class="form-group">
      <label for="surname">Surname:</label>
      <input type="text" formControlName="surname" class="form-control" placeholder="Enter surname" id="surname">
    </div>
    <div class="form-group">
      <label for="employeeNumber">Employee number:</label>
      <input disabled type="text" formControlName="employeeNumber" class="form-control" id="employeeNumber">
    </div>
    <div class="form-group">
      <label for="monthlyGrossSalary">Monthly Net salary:</label>
      <input type="number" formControlName="monthlyGrossSalary" class="form-control" id="monthlyGrossSalary" placeholder="Enter monthly gross salary">
    </div>
    <div class="form-group">
      <label for="startDate">Start date:</label>
      <input type="date" formControlName="startDate" class="form-control" placeholder="Enter start date" id="startDate">
    </div>
    <div class="form-group">
      <label for="endDate">End date:</label>
      <input type="date" formControlName="endDate" class="form-control" placeholder="Enter end date" id="endDate">
    </div>
    <div class="form-group">
      <label for="birthDate">Birth date:</label>
      <input type="date" formControlName="birthDate" class="form-control" placeholder="Enter birth date" id="birthDate">
    </div>
    <div class="form-group">
      <label for="birthNumber">Birth number:</label>
      <input type="text" formControlName="birthNumber" class="form-control" placeholder="Enter birth number" id="birthNumber">
    </div>
    <div class="form-group">
      <label for="personalBankAccount">Personal bank account:</label>
      <input type="text" formControlName="personalBankAccount" class="form-control" placeholder="Enter personal bank account" id="personalBankAccount">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
