<div class="container_form">
  <h3>Inventory form</h3>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
    </ul>
  </nav>
  <form [formGroup]="editInventoryForm" (ngSubmit)="submitInventoryForm()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Enter name" id="name">
    </div>
    <div class="form-group">
      <label for="inventoryNumber">Inventory number:</label>
      <input disabled type="text" formControlName="inventoryNumber" class="form-control" id="inventoryNumber">
    </div>
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" formControlName="price" class="form-control" id="price" placeholder="Enter buy price">
    </div>
    <div class="form-group">
      <label for="startDate">Start date:</label>
      <input type="date" formControlName="startDate" class="form-control" placeholder="Enter start date" id="startDate">
    </div>
    <div class="form-group">
      <label for="endDate">End date:</label>
      <input type="date" formControlName="endDate" class="form-control" placeholder="Enter end date" id="endDate">
    </div>
    <div class="form-group">
      <label for="depreciationType">Depreciation type:</label>
      <select id="depreciationType" formControlName="depreciationType" class="form-control" placeholder="Enter depreciation type" (change)="changeDepreciationType($event)">
        <option *ngFor="let depreciationType of depreciationTypes" [ngValue]="depreciationType">{{depreciationType}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="depreciationClass">Depreciation class:</label>
      <select id="depreciationClass" formControlName="depreciationClass" class="form-control" placeholder="Enter depreciation class" (change)="changeDepreciationClass($event)">
        <option *ngFor="let depreciationClass of depreciationClasses" [ngValue]="depreciationClass">{{depreciationClass}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="propertyKind">Property kind:</label>
      <select id="propertyKind" formControlName="propertyKind" class="form-control" placeholder="Enter property kind" (change)="changePropertyKind($event)">
        <option *ngFor="let propertyKindOne of propertyKinds" [ngValue]="propertyKindOne">{{propertyKindOne}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
