<h5>Eshop</h5>
<h5 *ngIf="company">{{company}}</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/login" routerLinkActive="active">Main menu</a></li>
    <li class="normal_link" routerLinkActive="active" *ngIf="orders && orders.length > 0"><a (click)="routeToCheckout()">Shopping cart - {{orders.length}}</a></li>
  </ul>
</nav>
<div *ngIf="eshopGoodsServices">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Goods/Service</th>
      <th>Goods/Service number</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let eshopGoodsService of eshopGoodsServices" [ngClass]="{'selected-row': selectedGoodsService && selectedGoodsService.goodsServiceId === eshopGoodsService.goodsServiceId}">
      <td>{{eshopGoodsService.name}}</td>
      <td>{{eshopGoodsService.goodsServiceNumber}}</td>
      <td><button class="btn btn-primary" (click)="select(eshopGoodsService)">Select</button></td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
  <div *ngIf="selectedGoodsService">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Warehouse</th>
        <th>Price</th>
        <th>Vat %</th>
        <th>Current count</th>
        <th>Ordered count</th>
        <th>Total Price</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let eshopGoodsServiceItem of selectedGoodsService.items">
        <td>{{eshopGoodsServiceItem.whName}}</td>
        <td>{{eshopGoodsServiceItem.unitOutputPrice}}</td>
        <td>{{eshopGoodsServiceItem.vatPercent}}</td>
        <td>{{eshopGoodsServiceItem.count}}</td>
        <td><input [disabled]="isOrderedItem(eshopGoodsServiceItem)" type="number" placeholder="Count" class="amount" [(ngModel)]="eshopGoodsServiceItem.orderedCount"></td>
        <td>{{calcTotalFromSelected(eshopGoodsServiceItem)}}</td>
        <td><button class="btn btn-primary" (click)="order(eshopGoodsServiceItem)" [disabled]="isDisabled(eshopGoodsServiceItem)">{{isOrderedItem(eshopGoodsServiceItem) ? 'UnOrder' : 'Order'}}</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
