.paging {
  display: flex;
  height: 33px;
  width: 80%;
  padding: 0px 10px;
  justify-content: space-between;
  align-items: center;
  color: #BEBCBC;
  background-color: white;
  margin: 10px auto;
}

.paging span {
  cursor: pointer;
}

input.amount {
  width: 100px;
}

.selected-row {
  background-color: lightblue !important;
}

.normal_link {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.normal_link:hover {
  text-decoration: underline;
}
