<h5>Commands to pay</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="commandToPays">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Document number</th>
      <th>Our bank account</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let commandToPay of commandToPays" (click)="selectCommandToPay(commandToPay)" [ngClass]="{'selected-row': (selectedCommandToPay && selectedCommandToPay.id === commandToPay.id)}">
      <td>{{commandToPay.documentNumber}}</td>
      <td>{{commandToPay.ourBankAccount}}</td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
</div>
<div style="margin-top: 15px" *ngIf="selectedCommandToPay">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Other bank account</th>
      <th>Variable symbol</th>
      <th>Amount</th>
      <th>Message for receiver</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let commandToPayItem of selectedCommandToPay.commandToPayItems">
      <td>{{commandToPayItem.otherBankAccount}}</td>
      <td>{{commandToPayItem.variableSymbol}}</td>
      <td>{{commandToPayItem.amount}}</td>
      <td>{{commandToPayItem.messageForReceiver}}</td>
    </tr>
    </tbody>
  </table>
</div>
