<div style="width: 70%; margin: 0px auto">
  <h4>Cash output receipt</h4>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
    </ul>
  </nav>
  <form [formGroup]="accountingForm" (ngSubmit)="submitAccountingForm()">
    <div class="form-group">
      <label for="documentNumber">Document number:</label>
      <input disabled type="text" formControlName="documentNumber" class="form-control" id="documentNumber">
    </div>
    <div class="form-group">
      <label for="issueDate">Issue date:</label>
      <input type="date" formControlName="issueDate" class="form-control" placeholder="Enter issue date" id="issueDate">
    </div>

    <div class="form-group">
      <label for="cashierTitle">Cashier title:</label>
      <select formControlName="cashierTitle" class="form-control" placeholder="Select cashier" id="cashierTitle" (change)="changeCashierTitle($event)">
        <option *ngFor="let cashier of cashiers" [ngValue]="cashier">{{cashier}}</option>
      </select>
    </div>
  </form>

  <div *ngIf="outputGoodsReceipts">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Document</th>
        <th>Receipt date</th>
        <th>Customer</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let outputGoodsReceipt of outputGoodsReceipts">
        <td>{{outputGoodsReceipt.documentNumber}}</td>
        <td>{{outputGoodsReceipt.accountingDate}}</td>
        <td>{{outputGoodsReceipt.crm.name}}</td>
        <td><button class="btn btn-primary" (click)="toggle(outputGoodsReceipt)">{{outputGoodsReceipt.selected ? '-' : '+'}}</button></td>
      </tr>
      </tbody>
    </table>
    <div class="paging">
      <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
      <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
      <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
    </div>
  </div>

  <div class="form-group">
    <div style="text-align: left">
      <span>Rows:</span>
    </div>
    <div id="rows" style="margin-top: 10px; margin-bottom: 5px">
      <table class="table">
        <thead>
        <tr>
          <th>Goods/Service</th>
          <th>Units</th>
          <th>Unit price</th>
          <th>Total Vat</th>
          <th>Total Price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let rowsElement of gsItems">
          <td><select style="width: 300px; height: 30px" [(ngModel)]="rowsElement.id">
            <option [value]="gs.id" *ngFor="let gs of goodsServices">{{gs.name}}</option>
          </select></td>
          <td><input type="number" placeholder="Count" class="amount" [(ngModel)]="rowsElement.count"></td>
          <td>{{getUnitPrice(rowsElement.id)}}</td>
          <td>{{getVat(rowsElement.id, rowsElement.count)}}</td>
          <td>{{getPrice(rowsElement.id, rowsElement.count)}}</td>
          <td>
            <button class="btn btn-primary" (click)="delRowGs(rowsElement)">Del</button>
          </td>
        </tr>
        </tbody>
        <tfoot style="font-weight: bold">
        <tr>
          <td>Total</td>
          <td></td>
          <td>{{calcTotalPrice()}}</td>
          <td>{{calcTotalVat()}}</td>
          <td>{{calcTotalTotal()}}</td>
          <td></td>
        </tr>
        </tfoot>
      </table>
    </div>
    <button class="btn btn-primary" style="margin: 15px 15px 40px 15px" (click)="addRowGs()">Add Goods</button>
    <div>
      <div>
        <button class="btn btn-primary" style="margin: 15px 15px 40px 15px" (click)="generateAccounting()">Generate accounting</button>
      </div>
      <div class="outer-div">
        <div class="element-div">Debit</div>
        <div class="element-div">Credit</div>
      </div>
      <div class="outer-div" *ngFor="let glWrite of rows" (click)="selectRow(glWrite)"
           [ngClass]="{'selected-row': selectedRow && selectedRow.ident === glWrite.ident}">
        <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.debit.acctNoWithDesc">
          <option
            *ngFor="let acc of accountsDebit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option>
        </select>&nbsp;-&nbsp;<input maxlength="10" type="number" class="amount" [(ngModel)]="glWrite.debit.amount">
        </div>
        <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.credit.acctNoWithDesc">
          <option
            *ngFor="let acc of accountsCredit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option>
        </select>&nbsp;-&nbsp;<input maxlength="10" type="number" class="amount" [(ngModel)]="glWrite.credit.amount">
        </div>
      </div>
      <button class="btn btn-primary" style="margin: 15px" (click)="addRow()">Add row</button>
      <button class="btn btn-primary" style="margin: 15px" [disabled]="!selectedRow" (click)="deleteRow()">Delete
        row
      </button>
    </div>
  </div>
  <button [disabled]="savedId" (click)="submitAccountingForm()" class="btn btn-primary">Save</button>
  <div  style="margin-top: 20px">
    <button [disabled]="!savedId" (click)="generatePdf(savedId)" class="btn btn-primary">Generate pdf</button>
  </div>
</div>
