<div class="container_form">
  <h3>CRM form</h3>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/crms" routerLinkActive="active">CRMs</a></li>
    </ul>
  </nav>
  <form [formGroup]="editCrmForm" (ngSubmit)="submitCrmForm()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Enter name" id="name">
    </div>
    <div class="form-group">
      <label for="ico">ICO:</label>
      <input type="text" formControlName="ico" class="form-control" placeholder="Enter ico" id="ico">
    </div>
    <div class="form-group">
      <label for="dic">DIC:</label>
      <input type="text" formControlName="dic" class="form-control" placeholder="Enter dic" id="dic">
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" formControlName="email" class="form-control" placeholder="Enter email" id="email">
    </div>
    <div class="form-group">
      <label for="phone">Phone:</label>
      <input type="phone" formControlName="phone" class="form-control" placeholder="Enter phone" id="phone">
    </div>
    <div class="form-group">
      <label for="phone">Street:</label>
      <input type="text" formControlName="street" class="form-control" placeholder="Enter street" id="street">
    </div>
    <div class="form-group">
      <label for="phone">Description Number:</label>
      <input type="text" formControlName="descNumber" class="form-control" placeholder="Enter desc. number" id="descNumber">
    </div>
    <div class="form-group">
      <label for="phone">City:</label>
      <input type="text" formControlName="city" class="form-control" placeholder="Enter city" id="city">
    </div>
    <div class="form-group">
      <label for="phone">Zip Code:</label>
      <input type="text" formControlName="zipCode" class="form-control" placeholder="Enter zipCode" id="zipCode">
    </div>
    <div class="form-group">
      <label for="phone">Bank account:</label>
      <input type="text" formControlName="bankAccount" class="form-control" placeholder="Enter bank account" id="bankAccount">
    </div>
    <div class="form-group">
      <label for="crmType">Crm type:</label>
      <select formControlName="crmType" class="form-control" placeholder="Enter crm type" id="crmType" (change)="changeCrmType($event)">
        <option *ngFor="let crmType1 of crmTypes" [ngValue]="crmType1">{{crmType1}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
