.outer-div {
  margin: 0px auto;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid black;
  /*padding: 20px;*/
}

.element-div {
  flex:  1 1 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  max-width: 50%;
  min-width: 50%;
}

.rows-element {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.element-div:nth-child(2) {
  border-left: 1px solid black;
}

.element-div input, .element-div select, .element-div select:focus {
  border-color: transparent;
  background-color: transparent;
}

input.amount {
  width: 100px;
}

.selected-row {
  background-color: lightblue !important;
}

form {
  margin-bottom: 40px;
}

div.form-group label {
  float: left;
}

div.rows-element input, div.rows-element span, div.rows-element select {
  margin-right: 10px;
}
