<div style="width: 70%; margin: 0px auto">
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
    </ul>
  </nav>
  <form [formGroup]="accountingForm" (ngSubmit)="submitAccountingForm()">
    <div class="form-group">
      <label for="documentType">Document type:</label>
      <select formControlName="documentType" class="form-control" placeholder="Enter document type" id="documentType" (change)="changeDocumentType($event)">
        <option *ngFor="let documentType of documentTypes" [ngValue]="documentType">{{documentType}}</option>
      </select>
    </div>

    <div class="form-group" *ngIf="savedBooking">
      <label for="dn">Document number:</label>
      <input type="text" [value]="savedBooking.documentNumber" disabled class="form-control" id="dn">
    </div>

    <div class="form-group">
      <label for="description">Description:</label>
      <input (keyup.enter)="onEnter($event)" (blur)="blurDesc($event)" type="text" formControlName="description" class="form-control" placeholder="Enter description" id="description">
    </div>

    <div class="form-group">
      <div id="keywords" style="display: flex; justify-content: left">
        <span [ngStyle]="{'padding': '5px', 'margin-right': '10px', 'background-color': bcKeywords(), 'border-radius': '5px', 'cursor': 'pointer'}" *ngFor="let keyword of keywords">{{keyword}}&nbsp;<span (click)="removeKeyword(keyword)">&times;</span></span>
      </div>
    </div>

    <div class="form-group">
      <label for="description">Tax-Vat date:</label>
      <input type="date" formControlName="vatDate" class="form-control" placeholder="Enter vat tax date" id="vatDate">
    </div>

    <div class="form-group">
      <label for="description">Pay date:</label>
      <input type="date" formControlName="payDate" class="form-control" placeholder="Enter pay date" id="payDate">
    </div>


    <div class="form-group">
      <label for="description">Issue date:</label>
      <input type="date" formControlName="issueDate" class="form-control" placeholder="Enter issue date" id="issueDate">
    </div>

    <div class="form-group">
      <label for="variableSymbol">Variable symbol:</label>
      <input type="text" formControlName="variableSymbol" class="form-control" placeholder="Enter variable symbol" id="variableSymbol">
    </div>

    <div class="form-group">
      <label for="crmCompany">Supplier/Customer company:</label>
      <select formControlName="crmCompany" class="form-control" placeholder="Enter company" id="crmCompany" (change)="changeCompany($event)">
        <option *ngFor="let company of crm" [ngValue]="company.id">{{company.name}}</option>
      </select>
    </div>
  </form>
  <div  class="form-group">
    <div style="text-align: left">
      <span>Rows:</span>
    </div>
    <div id="rows" style="margin-top: 10px; margin-bottom: 5px">
      <table class="table">
        <thead>
          <tr>
            <th>Goods/Service</th>
            <th>Units</th>
            <th>Price</th>
            <th>Vat</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let rowsElement of gsItems">
            <td><select style="width: 300px; height: 30px" [(ngModel)]="rowsElement.id"><option [value]="gs.id" *ngFor="let gs of goodsServices">{{gs.name}}</option> </select></td>
            <td><input type="number" placeholder="Count" class="amount" [(ngModel)]="rowsElement.count"></td>
            <td>{{calcPrice(rowsElement)}}</td>
            <td>{{calcVat(rowsElement)}}</td>
            <td>{{calcTotal(rowsElement)}}</td>
            <td><button class="btn btn-primary" (click)="delRowGs(rowsElement)">Del</button></td>
          </tr>
        </tbody>
        <tfoot style="font-weight: bold">
          <tr>
            <td>Total</td>
            <td></td>
            <td>{{calcTotalPrice()}}</td>
            <td>{{calcTotalVat()}}</td>
            <td>{{calcTotalTotal()}}</td>
            <td></td>
          </tr>
        </tfoot>
      </table>
    </div>
    <button class="btn btn-primary" style="margin: 15px 15px 40px 15px" (click)="addRowGs()">Add Goods/Service</button>
  </div>
  <div>
    <div class="outer-div">
      <div class="element-div">Debit</div><div class="element-div">Credit</div>
    </div>
    <div class="outer-div" *ngFor="let glWrite of rows" (click)="selectRow(glWrite)" [ngClass]="{'selected-row': selectedRow && selectedRow.ident === glWrite.ident}">
      <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.debit.acctNoWithDesc"><option *ngFor="let acc of accountsDebit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option> </select>&nbsp;-&nbsp;<input maxlength="10" type="text" class="amount" [(ngModel)]="glWrite.debit.amount"></div>
      <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.credit.acctNoWithDesc"><option *ngFor="let acc of accountsCredit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option> </select>&nbsp;-&nbsp;<input maxlength="10" type="text" class="amount" [(ngModel)]="glWrite.credit.amount"></div>
    </div>
    <button class="btn btn-primary" style="margin: 15px" (click)="addRow()">Add row</button>
    <button class="btn btn-primary" style="margin: 15px" [disabled]="!selectedRow" (click)="deleteRow()">Delete row</button>
  </div>
  <div>
    <button class="btn btn-primary" style="margin: 15px 15px 40px 15px" (click)="doPosting()">Do posting</button>
  </div>
</div>
