<div class="container_form">
  <h3>Goods services form</h3>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/goods-services" routerLinkActive="active">Goods services</a></li>
    </ul>
  </nav>
  <form [formGroup]="editGoodsServicesForm" (ngSubmit)="submitGoodsServicesForm()">
    <div class="form-group">
      <label for="name">Goods/services name:</label>
      <input type="text" maxlength="20" formControlName="name" class="form-control" placeholder="Enter goods services name" id="name">
    </div>
    <div class="form-group">
      <label for="documentNumber">Goods/Services number:</label>
      <input disabled type="text" formControlName="documentNumber" class="form-control" id="documentNumber">
    </div>
    <div class="form-group">
      <label for="unit">Unit:</label>
      <input type="text" formControlName="unit" class="form-control" placeholder="Enter unit" id="unit">
    </div>
    <div class="form-group">
      <label for="name">Packet input price:</label>
      <input type="number" formControlName="packetInputPrice" class="form-control" placeholder="Enter packet input price" id="packetOutputPrice">
    </div>
    <div class="form-group">
      <label for="unit">Packet output price:</label>
      <input type="number" formControlName="packetOutputPrice" class="form-control" placeholder="Enter packet output price" id="packetInputPrice">
    </div>
    <div class="form-group">
      <label for="name">VAT percents:</label>
      <input type="number" formControlName="vatPercents" class="form-control" placeholder="Enter VAT percents" id="vatPercents">
    </div>
    <div class="form-group">
      <label for="unit">Number of units in packet:</label>
      <input type="number" formControlName="numberOfUnitsInPacket" class="form-control" placeholder="Enter number of units in packet" id="numberOfUnitsInPacket">
    </div>

    <div class="form-group">
      <label for="gsType">Goods/Service type:</label>
      <select formControlName="gsType" class="form-control" placeholder="Enter Group/Service type" id="gsType" (change)="changeGsType($event)">
        <option *ngFor="let gsType of gsTypes" [ngValue]="gsType">{{gsType}}</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
