<h5>Bookings</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div class="form-group">
  <label for="documentTypeSelected">Selected document type:</label>
  <select class="form-control" id="documentTypeSelected" [(ngModel)]="selectedDocumentType" (change)="changeSelectedDocType($event)">
    <option *ngFor="let docType of ['ALL', 'INPUT_INVOICE', 'OUTPUT_INVOICE', 'BANK_STATEMENT', 'CASH_INPUT_RECEIPT', 'CASH_OUTPUT_RECEIPT',
    'GOODS_INPUT_RECEIPT', 'GOODS_OUTPUT_RECEIPT', 'INTERNAL']" [value]="docType">{{docType}}</option>
  </select>
</div>
<div *ngIf="bookings">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Document number</th>
      <th>Description</th>
      <th>Type</th>
      <th>Crm partner</th>
      <th>Accounting Date</th>
      <th>Tax Date</th>
      <th>Written by</th>
      <th>Cancelled</th>
      <th>Cancel</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let booking of bookings" (click)="selectBooking(booking)" [ngClass]="{'selected-row': (selectedBooking && selectedBooking.id === booking.id)}">
      <td>{{booking.documentNumber}}</td>
      <td>{{booking.descriptionOfCase}}</td>
      <td>{{booking.glWholeWriteType}}</td>
      <td>{{booking.crm}}</td>
      <td>{{booking.accountingDate}}</td>
      <td>{{booking.taxDate}}</td>
      <td>{{booking.writtenBy}}</td>
      <td>{{booking.cancelled}}</td>
      <td><button class="btn btn-primary" (click)="cancel(booking)">Cancel</button></td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
</div>
<div style="margin-top: 15px" *ngIf="selectedBooking">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Account number</th>
      <th>Type</th>
      <th>Amount</th>
      <th>Analytic part</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let glWrite of selectedBooking.glWrites">
      <td>{{glWrite.acctNo}}</td>
      <td>{{glWrite.glAccountSideType}}</td>
      <td>{{glWrite.amount}}</td>
      <td>{{glWrite.analyticPart}}</td>
    </tr>
    </tbody>
  </table>
</div>
