<div class="container_form">
  <h3>Gl account form</h3>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/glaccounts" routerLinkActive="active">Gl accounts</a></li>
    </ul>
  </nav>
  <form [formGroup]="editGlAccountForm" (ngSubmit)="submitGlAccountForm()">
    <div class="form-group">
      <label for="acctNo">Account number:</label>
      <input type="text" maxlength="6" formControlName="acctNo" class="form-control" placeholder="Enter account number" id="acctNo">
    </div>
    <div class="form-group">
      <label for="description">Description:</label>
      <input type="text" formControlName="description" class="form-control" placeholder="Enter description" id="description">
    </div>
    <div class="form-group">
      <label for="description">Account number/CashPOS title:</label>
      <input type="text" formControlName="additionalInfo" class="form-control" placeholder="Enter account number/cashPOS title" id="additionalInfo">
    </div>
    <div class="form-group">
      <label for="glAccountType">Gl Account type:</label>
      <select formControlName="glAccountType" class="form-control" placeholder="Enter gl account type" id="glAccountType" (change)="changeGlAccountType($event)">
        <option *ngFor="let glAccountType1 of glAccountTypes" [ngValue]="glAccountType1">{{glAccountType1}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="glAccountSideType">Gl Account side type:</label>
      <select formControlName="glAccountSideType" class="form-control" placeholder="Enter gl account side type" id="glAccountSideType" (change)="changeGlAccountSideType($event)">
        <option *ngFor="let glAccountSideType of glAccountSideTypes" [ngValue]="glAccountSideType">{{glAccountSideType}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="glAccountSideType">Gl Account group:</label>
      <select formControlName="glAccountGroup" class="form-control" placeholder="Enter gl account group" id="glAccountGroup" (change)="changeGlAccountGroup($event)">
        <option *ngFor="let group of groupModel" [ngValue]="group">{{group}}</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
