<h5>Warehouse Goods</h5>
<h5 *ngIf="warehouseName">{{warehouseName}}</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
    <li><a routerLink="/warehouses" routerLinkActive="active">Warehouses</a></li>
  </ul>
</nav>
<div *ngIf="whGoods">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Goods</th>
      <th>G/S Number</th>
      <th>Input avg. Price</th>
      <th>Output avg. Price</th>
      <th>Count</th>
      <th>Output Price</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let whGood of whGoods">
      <td>{{whGood.goodsServices.name}}</td>
      <td>{{whGood.goodsServices.goodsServicesNumber}}</td>
      <td>{{whGood.inputPrice}}</td>
      <td>{{whGood.outputPrice}}</td>
      <td>{{whGood.count}}</td>
      <td>{{whGood.goodsServices.packetOutputPrice}}</td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
  <div>
    <button style="margin-right: 10px" class="btn btn-primary" (click)="createInputGoodsReceipt()">Create input goods receipt</button>
    <button class="btn btn-primary" (click)="createOutputGoodsReceipt()">Create output goods receipt</button>
  </div>
</div>

