<div class="container_form">
  <nav>
    <ul style="list-style-position: inside; padding: 0px" *ngIf="eshops">
      <li *ngFor="let eshop of eshops"><a routerLink="/eshop/{{eshop}}" routerLinkActive="active">{{eshop}} eshop</a></li>
    </ul>
  </nav>
  <h3>Login form</h3>
  <form [formGroup]="loginForm" (ngSubmit)="submitLoginForm()">
    <div class="form-group">
      <label for="company">Company:</label>
      <input type="text" formControlName="company" class="form-control" placeholder="Enter company name" id="company">
    </div>
    <div class="form-group">
      <label for="username">Username:</label>
      <input type="text" formControlName="username" class="form-control" placeholder="Enter username" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password" type="password" class="form-control" placeholder="Enter password" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
    <div style="margin-top: 10px">
      <button type="submit" class="btn btn-primary" (click)="createCompanyWithRootUser()">Create company with root user</button>
    </div>
  </form>
  <div>
    {{token}}
  </div>
  <div>
    {{this.authenticationService.issuedAt}}
  </div>
  <div>
    {{this.numberOfAccounts}}
  </div>
</div>
