<h5>Main menu</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/" routerLinkActive="active">Main menu</a></li>
    <li><a routerLink="/glaccounts" routerLinkActive="active">Gl accounts</a></li>
    <li><a routerLink="/goods-services" routerLinkActive="active">Goods services</a></li>
    <li><a routerLink="/crms" routerLinkActive="active">CRMs</a></li>
    <li><a routerLink="/general-accounting" routerLinkActive="active">General accounting</a></li>
    <li><a routerLink="/warehouses" routerLinkActive="active">Warehouses</a></li>
    <li><a routerLink="/output-invoice" routerLinkActive="active">Output invoice</a></li>
    <li><a routerLink="/input-invoice" routerLinkActive="active">Input invoice</a></li>
    <li><a routerLink="/bookings" routerLinkActive="active">Bookings</a></li>
    <li><a routerLink="/bank-statement-income" routerLinkActive="active">Bank statement income</a></li>
    <li><a routerLink="/bank-statement-outcome" routerLinkActive="active">Bank statement outcome</a></li>
    <li><a routerLink="/cash-input-receipt" routerLinkActive="active">Cash input receipt</a></li>
    <li><a routerLink="/cash-output-receipt" routerLinkActive="active">Cash output receipt</a></li>
    <li><a routerLink="/balance-sheet" routerLinkActive="active">Balance sheet</a></li>
    <li><a routerLink="/profit-loss" routerLinkActive="active">Profit and loss</a></li>
    <li><a routerLink="/internal-order" routerLinkActive="active">Internal order</a></li>
    <li><a routerLink="/command-to-pay" routerLinkActive="active">Command to pay</a></li>
    <li><a routerLink="/command-to-pay-list" routerLinkActive="active">Command to pay list</a></li>
    <li><a routerLink="/inventory" routerLinkActive="active">Create inventory</a></li>
    <li><a routerLink="/inventory-list" routerLinkActive="active">List inventories</a></li>
    <li><a routerLink="/employee-create" routerLinkActive="active">Create employee</a></li>
    <li><a routerLink="/employee-list" routerLinkActive="active">list employees</a></li>
    <li><a routerLink="/input-invoices-not-paid" routerLinkActive="active">Input invoices not paid</a></li>
    <li><a routerLink="/output-invoices-not-paid" routerLinkActive="active">Output invoices not paid</a></li>
  </ul>
</nav>
