<div class="container_form">
  <h5>Create company form</h5>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/login" routerLinkActive="active">Main menu</a></li>
    </ul>
  </nav>
  <form [formGroup]="createCompanyForm" (ngSubmit)="submitLoginForm()">
    <div class="form-group">
      <label for="company">Company name:</label>
      <input type="text" formControlName="company" class="form-control" placeholder="Enter company name" id="company">
    </div>
    <div class="form-group">
      <label for="username">Root username:</label>
      <input type="text" formControlName="username" class="form-control" placeholder="Enter username" id="username">
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input formControlName="password" type="password" class="form-control" placeholder="Enter password" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Create company</button>
  </form>
  <div *ngIf="response">
    <div>
      Created copmpany: {{response.company}}
    </div>
    <div>
      Created username: {{response.username}}
    </div>
    <div>
      Created password: {{response.password}}
    </div>
  </div>
</div>
