<div style="width: 70%; margin: 0px auto">
  <h4>Command to pay</h4>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
    </ul>
  </nav>
  <form [formGroup]="accountingForm" (ngSubmit)="submitAccountingForm()">
    <div class="form-group">
      <label for="documentNumber">Document number:</label>
      <input disabled type="text" formControlName="documentNumber" class="form-control" id="documentNumber">
    </div>

    <div class="form-group">
      <label for="bankAccount">Our bank account:</label>
      <select formControlName="ourBankAccount" class="form-control" placeholder="Select bank account" id="bankAccount"
              (change)="changeBankAccount($event)">
        <option *ngFor="let bankAccount of bankAccounts" [ngValue]="bankAccount">{{bankAccount}}</option>
      </select>
    </div>
  </form>

  <div *ngIf="inputInvoiceRequests">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Variable symbol</th>
        <th>Amount</th>
        <th>Customer</th>
        <th>Document number</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inputInvoiceSmall of inputInvoiceRequests">
        <td>{{inputInvoiceSmall.variableSymbol}}</td>
        <td>{{inputInvoiceSmall.amount}}</td>
        <td>{{inputInvoiceSmall.crmName}}</td>
        <td>{{inputInvoiceSmall.documentNumber}}</td>
        <td>
          <button class="btn btn-primary"
                  (click)="toggle(inputInvoiceSmall)">{{inputInvoiceSmall.selected ? '-' : '+'}}</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="paging">
      <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;"
            (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
      <span
        [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}"
        *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
      <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;"
            (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
    </div>
  </div>

  <div class="form-group">
    <div style="text-align: left">
      <span>Rows:</span>
    </div>
    <div id="rows" style="margin-top: 10px; margin-bottom: 5px">
      <table class="table">
        <thead>
        <tr>
          <th>Amount</th>
          <th>Variable symbol</th>
          <th>Specific symbol</th>
          <th>Constant symbol</th>
          <th>Other bank account</th>
          <th>Message for Receiver</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let commandToPayItem of commandToPayItems">
          <td><input type="number" placeholder="Amount" class="amount" [(ngModel)]="commandToPayItem.amount"></td>
          <td><input type="text" placeholder="Variable symbol" [(ngModel)]="commandToPayItem.variableSymbol"></td>
          <td><input type="text" placeholder="Specific symbol" [(ngModel)]="commandToPayItem.specificSymbol"></td>
          <td><input type="text" placeholder="Constant symbol" [(ngModel)]="commandToPayItem.constantSymbol"></td>
          <td><input type="text" placeholder="Other bank account" [(ngModel)]="commandToPayItem.otherBankAccount"></td>
          <td><input type="text" placeholder="Message for receiver" [(ngModel)]="commandToPayItem.messageForReceiver"></td>
          <td>
            <button class="btn btn-primary" (click)="delRowGs(commandToPayItem)">Del</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <button class="btn btn-primary" style="margin: 15px 15px 40px 15px" (click)="addRowCommandItem()">Add command to pay item</button>
  </div>
  <button (click)="submitAccountingForm()" class="btn btn-primary">Save</button>
</div>
