<div style="width: 70%; margin: 0px auto">
  <h4>Input Goods Receipt</h4>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
      <li *ngIf="warehouseName"><a [routerLink]="['/warehouse-goods', warehouseId, warehouseName]" routerLinkActive="active">Warehouse {{warehouseName}}</a></li>
    </ul>
  </nav>
  <form [formGroup]="accountingForm" (ngSubmit)="submitAccountingForm()">
    <div class="form-group">
      <label for="documentNumber">Document number:</label>
      <input disabled type="text" formControlName="documentNumber" class="form-control" id="documentNumber">
    </div>
    <div class="form-group">
      <label for="issueDate">Issue date:</label>
      <input type="date" formControlName="issueDate" class="form-control" placeholder="Enter issue date" id="issueDate">
    </div>

    <div class="form-group">
      <label for="crmCompany">Supplier/Customer company:</label>
      <select formControlName="crmCompany" class="form-control" placeholder="Enter company" id="crmCompany"
              (change)="changeCompany($event)">
        <option *ngFor="let company of crm" [ngValue]="company.id">{{company.name}}</option>
      </select>
    </div>
  </form>

    <div class="form-group">
      <div style="text-align: left">
        <span>Rows:</span>
      </div>
      <div id="rows" style="margin-top: 10px; margin-bottom: 5px">
        <table class="table">
          <thead>
          <tr>
            <th>Goods/Service</th>
            <th>Units</th>
            <th>Unit price</th>
            <th>Total Price</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let rowsElement of gsItems">
            <td><select style="width: 300px; height: 30px" [(ngModel)]="rowsElement.id">
              <option [value]="gs.id" *ngFor="let gs of goodsServices">{{gs.name}}</option>
            </select>
            </td>
            <td><input type="number" placeholder="Count" class="amount" [(ngModel)]="rowsElement.count"></td>
            <td>{{getUnitPrice(rowsElement.id)}}</td>
            <td>{{getPrice(rowsElement.id, rowsElement.count)}}</td>
            <td>
              <button class="btn btn-primary" (click)="delRowGs(rowsElement)">Del</button>
            </td>
          </tr>
          </tbody>
          <tfoot style="font-weight: bold">
          <tr>
            <td>Total</td>
            <td></td>
            <td></td>
            <td>{{calcTotalPrice()}}</td>
            <td></td>
          </tr>
          </tfoot>
        </table>
      </div>
      <button class="btn btn-primary" style="margin: 15px 15px 40px 15px" (click)="addRowGs()">Add Goods</button>
      <div>
        <div>
          <button class="btn btn-primary" style="margin: 15px 15px 40px 15px" (click)="generateAccounting()">Generate accounting</button>
        </div>
        <div class="outer-div">
          <div class="element-div">Debit</div>
          <div class="element-div">Credit</div>
        </div>
        <div class="outer-div" *ngFor="let glWrite of rows" (click)="selectRow(glWrite)"
             [ngClass]="{'selected-row': selectedRow && selectedRow.ident === glWrite.ident}">
          <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.debit.acctNoWithDesc">
            <option
              *ngFor="let acc of accountsDebit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option>
          </select>&nbsp;-&nbsp;<input maxlength="10" type="number" class="amount" [(ngModel)]="glWrite.debit.amount">
          </div>
          <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.credit.acctNoWithDesc">
            <option
              *ngFor="let acc of accountsCredit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option>
          </select>&nbsp;-&nbsp;<input maxlength="10" type="number" class="amount" [(ngModel)]="glWrite.credit.amount">
          </div>
        </div>
        <button class="btn btn-primary" style="margin: 15px" (click)="addRow()">Add row</button>
        <button class="btn btn-primary" style="margin: 15px" [disabled]="!selectedRow" (click)="deleteRow()">Delete
          row
        </button>
      </div>
    </div>
    <button (click)="submitAccountingForm()" class="btn btn-primary">Save</button>
</div>
