<h5>Inventory list form</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="inventoryItems">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>Inventory number</th>
      <th>Start data</th>
      <th>End date</th>
      <th>Depreciation class</th>
      <th>Depreciation type</th>
      <th>Property kind</th>
      <th>Price</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let inventoryItem of inventoryItems" [ngClass]="{'selected-row': selectedInventoryItem && selectedInventoryItem.id === inventoryItem.id}" (click)="selectInventoryItem(inventoryItem)">
      <td>{{inventoryItem.name}}</td>
      <td>{{inventoryItem.inventoryNumber}}</td>
      <td>{{inventoryItem.startDate}}</td>
      <td>{{inventoryItem.endDate}}</td>
      <td>{{inventoryItem.depreciationClass}}</td>
      <td>{{inventoryItem.depreciationType}}</td>
      <td>{{inventoryItem.propertyKind}}</td>
      <th>{{inventoryItem.price}}</th>
      <td><button class="btn btn-primary" (click)="makeAmortization(inventoryItem)">Amortize</button></td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>

  <div style="margin-top: 20px; margin-bottom: 20px !important;" *ngIf="selectedInventoryItem && selectedInventoryItem.depreciationItems && selectedInventoryItem.depreciationItems.length > 0">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Period</th>
        <th>Amount</th>
        <th>Booking number</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let depreciationItem of selectedInventoryItem.depreciationItems">
        <td>{{depreciationItem.period}}</td>
        <td>{{depreciationItem.amount}}</td>
        <td>{{depreciationItem.bookingNumber}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="form-group" style="margin-bottom: 15px !important;">
    <div>
      <div class="outer-div">
        <div class="element-div">Debit</div>
        <div class="element-div">Credit</div>
      </div>
      <div class="outer-div" *ngFor="let glWrite of rows" (click)="selectRow(glWrite)"
           [ngClass]="{'selected-row': selectedRow && selectedRow.ident === glWrite.ident}">
        <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.debit.acctNoWithDesc">
          <option
            *ngFor="let acc of accountsDebit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option>
        </select>&nbsp;-&nbsp;<input maxlength="10" type="number" class="amount" [(ngModel)]="glWrite.debit.amount">
        </div>
        <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.credit.acctNoWithDesc">
          <option
            *ngFor="let acc of accountsCredit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option>
        </select>&nbsp;-&nbsp;<input maxlength="10" type="number" class="amount" [(ngModel)]="glWrite.credit.amount">
        </div>
      </div>
      <button class="btn btn-primary" style="margin: 15px" (click)="addRow()">Add row</button>
      <button class="btn btn-primary" style="margin: 15px" [disabled]="!selectedRow" (click)="deleteRow()">Delete row</button>
    </div>
  </div>
  <div style="margin-top: 10px">
    <button class="btn btn-primary" (click)="savedCalledAll()">Save</button>
  </div>
</div>

