<h5>Gl accounts</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="accounts">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Account number</th>
        <th>Description</th>
        <th>Account type</th>
        <th>Account side</th>
        <th>Account group</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td>{{account.acctNo}}</td>
        <td>{{account.description}}</td>
        <td>{{account.glAccountType}}</td>
        <td>{{account.glAccountSideType}}</td>
        <td>{{account.glAccountGroupingType}}</td>
        <td><button class="btn btn-primary" (click)="editGlAccount(account)">Edit</button></td>
        <td><button class="btn btn-primary" (click)="deleteGlAccount(account)">Del</button></td>
      </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
  <div>
    <button class="btn btn-primary" (click)="createGlAccount()">Create Account</button>
  </div>
</div>

