<div style="width: 70%; margin: 0px auto">
  <h4>Outcome bank statement</h4>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
    </ul>
  </nav>
  <form [formGroup]="accountingForm" (ngSubmit)="submitAccountingForm()">
    <div class="form-group">
      <label for="documentNumber">Document number:</label>
      <input disabled type="text" formControlName="documentNumber" class="form-control" id="documentNumber">
    </div>
    <div class="form-group">
      <label for="ourBankAccount">Our bank account:</label>
      <select formControlName="ourBankAccount" class="form-control" placeholder="Select bank account" id="ourBankAccount" (change)="changeBankAccount($event)">
        <option *ngFor="let bankAccount of bankAccounts" [ngValue]="bankAccount">{{bankAccount}}</option>
      </select>
    </div>
    <div class="form-group">
      <label for="issueDate">Issue date:</label>
      <input type="date" formControlName="issueDate" class="form-control" placeholder="Enter issue date" id="issueDate">
    </div>
    <div class="form-group">
      <label for="variableSymbol">Variable symbol:</label>
      <input type="text" formControlName="variableSymbolInput" class="form-control" id="variableSymbol">
    </div>
    <div class="form-group">
      <label for="bankStatementNumber">Bank statement number:</label>
      <input type="text" formControlName="bankStatementNumber" class="form-control" id="bankStatementNumber">
    </div>
    <div class="form-group">
      <label for="bankAccountInput">Other bank account:</label>
      <input type="text" formControlName="bankAccountInput" class="form-control" id="bankAccountInput">
    </div>
    <div class="form-group">
      <label for="amount">Amount:</label>
      <input type="number" formControlName="amountInput" class="form-control" id="amount">
    </div>
  </form>

  <div *ngIf="inputInvoiceSmalls">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Variable symbol</th>
        <th>Issue date</th>
        <th>Customer</th>
        <th>Amount</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let inputInvoiceSmall of inputInvoiceSmalls">
        <td>{{inputInvoiceSmall.variableSymbol}}</td>
        <td>{{inputInvoiceSmall.issueDate}}</td>
        <td>{{inputInvoiceSmall.crmName}}</td>
        <td>{{inputInvoiceSmall.amount}}</td>
        <td>
          <button class="btn btn-primary"
                  (click)="toggle(inputInvoiceSmall)">{{(selectedInvoice && inputInvoiceSmall.id === selectedInvoice.id) ? '-' : '+'}}</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="paging">
      <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;"
            (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
      <span
        [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}"
        *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
      <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;"
            (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
    </div>
  </div>

  <div *ngIf="commandToPays">
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Document number</th>
        <th>our bank account</th>
        <th>Variable symbol</th>
        <th>Amount</th>
        <th>Message for receiver</th>
        <th>Other bank account</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let commandToPay of commandToPays">
        <td>{{commandToPay.documentNumber}}</td>
        <td>{{commandToPay.ourBankAccount}}</td>
        <td>{{commandToPay?.commandToPayItems[0]?.variableSymbol}}</td>
        <td>{{commandToPay?.commandToPayItems[0]?.amount}}</td>
        <td>{{commandToPay?.commandToPayItems[0]?.messageForReceiver}}</td>
        <td>{{commandToPay?.commandToPayItems[0]?.otherBankAccount}}</td>
        <td>
          <button class="btn btn-primary"
                  (click)="toggleCtp(commandToPay)">{{(selectedCommandToPay && commandToPay.id === selectedCommandToPay.id) ? '-' : '+'}}</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="paging">
      <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;"
            (click)="readData1(((page1 - 1) > 0) ? page1 - 1 : 0, size1)">&lt;</span>
      <span
        [ngStyle]="{'color': oneNumber1 === (page1) ? 'white' : '#BEBCBC', 'background-color': oneNumber1 === (page1) ? '#BEBCBC' : 'white'}"
        *ngFor="let oneNumber1 of pageNumbers1" (click)="readData1(oneNumber1, size1)">{{oneNumber1}}</span>
      <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;"
            (click)="readData1(((page1 + 1) > ceil(total1, size1)) ? page1 : page1 + 1, size1)">&gt;</span>
    </div>
  </div>

  <div class="form-group">

    <div>
      <div>
        <button class="btn btn-primary" style="margin: 15px 15px 40px 15px" (click)="generateAccounting()">Generate
          accounting
        </button>
      </div>
      <div class="outer-div">
        <div class="element-div">Debit</div>
        <div class="element-div">Credit</div>
      </div>
      <div class="outer-div" *ngFor="let glWrite of rows" (click)="selectRow(glWrite)"
           [ngClass]="{'selected-row': selectedRow && selectedRow.ident === glWrite.ident}">
        <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.debit.acctNoWithDesc">
          <option
            *ngFor="let acc of accountsDebit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option>
        </select>&nbsp;-&nbsp;<input maxlength="10" type="number" class="amount" [(ngModel)]="glWrite.debit.amount">
        </div>
        <div class="element-div"><select style="max-width: 170px" [(ngModel)]="glWrite.credit.acctNoWithDesc">
          <option
            *ngFor="let acc of accountsCredit">{{acc.acctNo}}{{(acc.acctNo && acc.acctNo !== '') ? '-' : ''}}{{acc.description}}</option>
        </select>&nbsp;-&nbsp;<input maxlength="10" type="number" class="amount" [(ngModel)]="glWrite.credit.amount">
        </div>
      </div>
      <button class="btn btn-primary" style="margin: 15px" (click)="addRow()">Add row</button>
      <button class="btn btn-primary" style="margin: 15px" [disabled]="!selectedRow" (click)="deleteRow()">Delete
        row
      </button>
    </div>
  </div>
  <button (click)="submitAccountingForm()" class="btn btn-primary">Save</button>
</div>
