<div class="container_form">
  <h3>Warehouse form</h3>
  <nav>
    <ul style="list-style-position: inside; padding: 0px">
      <li><a routerLink="/warehouses" routerLinkActive="active">Warehouses</a></li>
    </ul>
  </nav>
  <form [formGroup]="editCrmForm" (ngSubmit)="submitWarehouseForm()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" formControlName="name" class="form-control" placeholder="Enter name" id="name">
    </div>
    <div class="form-group">
      <label for="street">Street:</label>
      <input type="text" formControlName="street" class="form-control" placeholder="Enter street" id="street">
    </div>
    <div class="form-group">
      <label for="descNumber">Description Number:</label>
      <input type="text" formControlName="descNumber" class="form-control" placeholder="Enter desc. number" id="descNumber">
    </div>
    <div class="form-group">
      <label for="city">City:</label>
      <input type="text" formControlName="city" class="form-control" placeholder="Enter city" id="city">
    </div>
    <div class="form-group">
      <label for="zipCode">Zip Code:</label>
      <input type="text" formControlName="zipCode" class="form-control" placeholder="Enter zipCode" id="zipCode">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
  </form>
</div>
