<h5>Internal Order Processing</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="internalOrders">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Document number</th>
      <th>Customer ICO</th>
      <th>Customer name</th>
      <th>Delivery type</th>
      <th>Payment type</th>
      <th>Total</th>
      <th>Customer</th>
      <th>Address</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let internalOrder of internalOrders" (click)="selectBooking(internalOrder)" [ngClass]="{'selected-row': (selectedInternalOrder && selectedInternalOrder.id === internalOrder.id)}">
      <td>{{internalOrder.oinumber}}</td>
      <td>{{internalOrder.crmIco}}</td>
      <td>{{internalOrder.crmName}}</td>
      <td>{{internalOrder.deliveryType}}</td>
      <td>{{internalOrder.paymentType}}</td>
      <td>{{internalOrder.totalPrice}}</td>
      <td>{{internalOrder.crmName}}</td>
      <td>{{internalOrder.address.street}} {{internalOrder.address.descNumber}},{{internalOrder.address.city}},{{internalOrder.address.zipCode}}</td>
      <td><button class="btn btn-primary" (click)="processOrder(internalOrder)">Process order</button></td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
</div>
<div style="margin-top: 15px" *ngIf="selectedInternalOrder">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Goods/services name</th>
      <th>Goods/services number</th>
      <th>Count</th>
      <th>Unit price</th>
      <th>unit with Vat</th>
      <th>unit with Vat</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let orderItem of selectedInternalOrder.ordersItems">
      <td>{{orderItem.goodsServicesName}}</td>
      <td>{{orderItem.goodsServicesNumber}}</td>
      <td>{{orderItem.orderedCount}}</td>
      <td>{{orderItem.unitOutputPrice}}</td>
      <td>{{orderItem.unitOutputPriceWithVat}}</td>
      <td>{{orderItem.totalItemPrice}}</td>
    </tr>
    </tbody>
  </table>
</div>
