<h5>Balance sheet</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="balanceSheetItems">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Account number</th>
      <th>Debit</th>
      <th>Credit</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let balanceSheetItem of balanceSheetItems">
      <td>{{balanceSheetItem.acctNo}}</td>
      <td>{{balanceSheetItem.debit}}</td>
      <td>{{balanceSheetItem.credit}}</td>
    </tr>
    </tbody>
  </table>
</div>

