<h5>CRMs</h5>
<nav>
  <ul style="list-style-position: inside; padding: 0px">
    <li><a routerLink="/menu" routerLinkActive="active">Main menu</a></li>
  </ul>
</nav>
<div *ngIf="crms">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Name</th>
      <th>ICO</th>
      <th>DIC</th>
      <th>City</th>
      <th>Kind</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let crm of crms">
      <td>{{crm.name}}</td>
      <td>{{crm.ico}}</td>
      <td>{{crm.dic}}</td>
      <td>{{crm.primaryAddress.city}}</td>
      <td>{{crm.crmType}}</td>
      <td><button class="btn btn-primary" (click)="editCrm(crm)">Edit</button></td>
      <td><button class="btn btn-primary" (click)="deleteCrm(crm)">Del</button></td>
    </tr>
    </tbody>
  </table>
  <div class="paging">
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page - 1) > 0) ? page - 1 : 0, size)">&lt;</span>
    <span [ngStyle]="{'color': oneNumber === (page) ? 'white' : '#BEBCBC', 'background-color': oneNumber === (page) ? '#BEBCBC' : 'white'}" *ngFor="let oneNumber of pageNumbers" (click)="readData(oneNumber, size)">{{oneNumber}}</span>
    <span style="font-weight: bold; font-size: 25px; color: #707070; background-color: white;" (click)="readData(((page + 1) > ceil(total, size)) ? page : page + 1, size)">&gt;</span>
  </div>
  <div>
    <button class="btn btn-primary" (click)="createCrm()">Create CRM</button>
  </div>
</div>

